In [1]:

from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Demo').getOrCreate()

In [3]:
spark

In [6]:
pyspark_df = spark.read.option('header','true').csv('Dinosaurs.csv').show() #To show proper headers

+--------------+------+------+
|          Name|Length|height|
+--------------+------+------+
|         T-Rex|    13|   3.5|
|   Spinosaurus|    15|     3|
|Giganotasaurus|    14|   3.7|
|    Utahraptor|     4|     2|
|   Triceratops|     6|     3|
+--------------+------+------+